<div class="container">
<h4>Profiles</h4>

<table class="table table-striped">
  <tr>
    <th>Avatar</th>
    <th>NIm</th>
    <th>Firs Name</th>
    <th>Last Name</th>
    <th>Bio</th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= image_tag profile.picture_url(:thumb) if profile.picture? %></td>
    <td> <%= profile.nim %></td>
    <td> <%= profile.first_name %></td>
    <td> <%= profile.last_name %></td>
    <td> <%= profile.bio%></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', new_profile_path,:class=>'btn btn-primary',:role=>'button' %>
</div>