<div class="thread">
  <%#= image_tag(@thread_forum.picture_url, :width => 600) if @thread_forum.picture.present? %>
  <div class="thread-details thread-owner pull-left">
    <span class="thread-details-label">Created By:</span>
    <span class="thread-details-info"><%= @thread_forum.user.email %></span>
  </div>
  
  <div class="thread-action-edit pull-right">
    <%= link_to 'Edit', edit_thread_forum_path(@thread_forum), :class=>'btn' %>
  </div>

  <div class="clearfix"></div>

  <div class="thread-details thread-title pull-left">
    <span class="thread-details-label">Title:</span>
    <span class="thread-details-info"><%= @thread_forum.title %></span>
  </div>

  <div class="thread-action-vote pull-right">
    <%= pluralize @thread_forum.reputation_for(:votes).to_i, "vote" %>
    <% if current_user && !current_user.voted_for?(@thread_forum) %>
      | <%= link_to "up", vote_thread_forum_path(@thread_forum, type: "up"), method: "post" %>
      | <%= link_to "down", vote_thread_forum_path(@thread_forum, type: "down"), method: "post" %>
      <br />
    <% end %>
  </div>

  <div class="clearfix"></div>


  <div class="thread-content">
    <%= @thread_forum.body %>
  </div>  
</div>


<%= render partial: "comments", locals: {comments: @thread_forum.comments} %>

